.button-box{
    width:812px;
    height: 262px;
    border: 1px solid rgba(252, 211, 77, 1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
}
.button-icon{
    width: 80px;
    height:80px;
    border: none;
    border-radius: 50%;
    color: #ddd;
    font-size: 40px;
    background: linear-gradient(rgba(245, 158, 11, 1),rgba(249, 115, 22, 1));
    cursor: pointer;
}
h3{
    font-size:24px;
    font-weight: 700;
    color: rgba(120, 53, 15, 1);
}
p{
    margin-top: 12px;
    font-size:14px ;
    color: rgba(180, 83, 9, 1);
}
.button-box:hover{
    background-color: rgba(255, 251, 235, 1);
}