.button-box{
    width: 444px;
    height: 192px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 251, 235, 0.3);
    border:1px solid rgba(252, 211, 77, 1);  
    border-radius: 20px; 
}
.button-icon{
    margin-top: 14px;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 251, 235, 0.3);
}
.p1{
    color: rgba(180, 83, 9, 1);
    font-size: 14px;
    font-weight: 600;
}
p{
    color:rgba(217, 119, 6, 1);
    font-size:12px;
    font-weight: 400;
    margin-top: 2px;
}
.button-box:hover{
    border:1px solid rgba(245, 158, 11, 1);
}