.x-btn{
    width: 15px;
    height: 30px;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(146, 64, 14, 1);
    cursor: pointer;

}
.x-btn:hover{
    background-color: rgba(217, 119, 6, 1);
    color: #ddd;
}