<footer class="footer">
    <div class="footer-container">
      <div class="logo">
        <img src="assets/image/public/Container.png" alt="" data-i18n-alt="footer.discoverText">
        <p data-i18n="footer.discoverText">Discover the perfect coffee experience</p>
      </div>

      <div class="footer-col">
        <h3 data-i18n="footer.aboutTitle">Về chúng tôi</h3>
        <p data-i18n="footer.aboutText">Coffe Finder</p>
      </div>

      <div class="footer-col">
        <h3 data-i18n="footer.featuresTitle">Tiện ích</h3>
        <p data-i18n="footer.featuresText">Lưu quán yêu thích</p>
      </div>

      <div class="footer-col">
        <h3 data-i18n="footer.contactTitle">Liên hệ</h3>
        <p data-i18n="footer.contactLine1">Facebook</p>
        <p data-i18n="footer.contactLine2">Zalo</p>
      </div>

      <div class="footer-col">
        <h3 data-i18n="footer.helpTitle">Trợ giúp/Phản hồi</h3>
        <button class="btn" data-i18n="footer.btnText">Gửi <i class="fa-solid fa-chevron-right"></i></button>
      </div>
    </div>

    <hr />
    <div class="footer-bottom">
      <p data-i18n="footer.copyright">© 2025 CoffeeFinder. All rights reserved.</p>
    </div>
  </footer>