<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/component/header-footer/footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
  <footer class="footer">
    <div class="footer-container">
      <div class="logo">
        <a href="/index.html" style="text-decoration: none;">
            <img src="/assets/image/public/Container.png" alt="" data-i18n-alt="footer.discoverText">
        </a>
        <p data-i18n="footer.discoverText">Discover the perfect coffee experience</p>
      </div>

      <div class="footer-col">
        <h3 data-i18n="footer.aboutTitle">Về chúng tôi</h3>
        <a href="/index.html" class="footer-link" data-i18n="footer.aboutText">Coffee Finder</a>
      </div>

      <div class="footer-col">
        <h3 data-i18n="footer.featuresTitle">Tiện ích</h3>
        <a href="/assets/page/favorites/favorites.html" class="footer-link" data-i18n="footer.featuresText">Lưu quán yêu thích</a>
        <a href="/assets/page/cafe-list/cafe-list.html" class="footer-link">Danh sách quán</a>
      </div>

      <div class="footer-col">
        <h3 data-i18n="footer.contactTitle">Liên hệ</h3>
        <a href="https://facebook.com" target="_blank" class="footer-link" data-i18n="footer.contactLine1">Facebook</a>
        <a href="https://zalo.me" target="_blank" class="footer-link" data-i18n="footer.contactLine2">Zalo</a>
      </div>

      <div class="footer-col">
        <h3 data-i18n="footer.helpTitle">Trợ giúp/Phản hồi</h3>
        <a href="/assets/page/feedback/feedback.html">
            <button class="btn" data-i18n="footer.btnText">Gửi <i class="fa-solid fa-chevron-right"></i></button>
        </a>
      </div>
    </div>

    <hr />
    <div class="footer-bottom">
      <p data-i18n="footer.copyright">© 2025 CoffeeFinder. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>