<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="head">
        <div class="header-container">
            <div class ="header-logo"><img src="assets/image/public/Container.png" alt="#"></div>
            <div class="header-search-bar">
                <i class="fa-solid fa-magnifying-glass"></i>
                 <input type="text" placeholder="Tìm kiếm nhanh...">
            </div>
            <nav class="header-nav-links" >
                <a href="/index.html">Trang chủ</a>
                <a href="/assets/page/cafe-list/cafe-list.html">Danh sách quán</a>
                <a href="/assets/page/favorites/favorites.html">Yêu thích</a>
                <a href="/assets/page/feedback/feedback.html">Feedback</a>
            </div>
        </div>
    </header>
</body>
</html>