* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}
body {
    background-color:#FFFBF5 ;
    /* display: flex;*/
    justify-content: center;
    align-items: center;
    gap: 64px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.shopdetail_main-container {
    width: 100%;
    gap: 29px;
    opacity: 1;
    padding: 32px 12px 33px 12px;
}
.shopdetail_sub-container {
    width: 100%;
    opacity: 1;
    background: #FFFFFF;
    border-radius: 10.96px;
}
.shopdetail_favourite{
  background-color:#FFFBF5 ;
}
.heart{
  width: 100%;
  flex: 0.1;
  cursor: pointer;
  color: #6B4423;
  text-shadow: 0px 4.16px 4.16px rgba(0, 0, 0, 0.5);
}
.heart:hover{
  color: #D97706;
}
.shopdetail_title-container {
    display: flex;
    width: 100%;
    opacity: 1;
    color: #6B4423;
    border-radius: 10.96px;
    gap: 8px;
    align-items: center;
}
.shopdetail_title {
  flex: 1;
  background-color: #FFFBF5;
}
.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50.42px;
}
.shopdetail_title h1 {
  font-size:40px;
  font-weight: 410;
  margin: 0;
  color: #6B4423;
  text-shadow: 0px 4.16px 4.16px rgba(0, 0, 0, 0.5);
}
.shopdetail_gallery-container{
  display:flex;
  width: 100%;
  padding: 0;
  border-radius: 8px;
  background-color: FFFBF5;
  border-radius: 8px;
  gap: 15px; /* Thêm khoảng cách giữa slider và grid */
  margin-bottom: 15px;
}
.slider-column{
  flex: 1.5;
  position: relative;
}
.slider-column img{
  width: 100%;
  border-radius: 8px;
  display: block;
}
.arrow-left{
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  z-index: 10;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 3.5rem;
  color: #FFFFFF;
}
.arrow-right{
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  z-index: 10;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 3.5rem;
  color: #FFFFFF;
}
.dot-container{
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background: transparent;
  border: none;
  font-size: 0.5rem;
  gap:5px;
}
.dot-container button{
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.dot-container img{
  width: 100%;
}
.arrow-left:hover,.arrow-right:hover{
  color: #FFF1CE;
}
.grid-column{
  flex: 0.8; /* Thu nhỏ kích thước từ 1 xuống 0.8 */
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px; /* Thêm khoảng cách giữa các hình ảnh */
  border-radius: 8px;
}
.grid-column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.nameshop {
  display: flex;
  flex-direction: column;
}
.shopdetail_address-container{
  display: flex;
  flex-direction: row;
  color: #6B4423;
  padding: 0px;
  gap: 20px;
}
.shopdetail_address{
  display: flex;
  flex:0.3;
  flex-direction: column;
}
.button-container{
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
.address-button{
  width: 100%;
  padding: 10px 20px;
  background: #6B4423;
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
}
.address-button:hover{
  background: #8B4513;
}
.shopdetail_rate-container{
  display: flex;
  flex-direction: row;
  color: #6B4423;
  padding: 5px 0px 0px 15px;
}
.shopdetail_rate{
 flex-direction: row;
 padding-bottom: 15px;
}
.rate{
 padding-left: 15px;
 font-size: large;
}
.shopdetail_name {
  width: 100%;
  font-size: 24.6px;
  margin: 0;
  color: #6B4423;
}
.shopdetail_tag {
  display: flex;
  flex-direction: row;
}
.tag {
  background: #F5EFE7;
  border-radius: 8px;
  margin-left: 5px;
  padding: 1px 7px;
}
.shopdetail_sub-title{
  width: 100%;
  font-size: 24.6px;
  margin: 0;
  color: #6B4423;
  background-color: #FFFBF5;
  margin-top: 50px;
}
.detail_info-container{
  width: 100%;
  border: 1px solid #E8E2D9;
  border-radius: 8px;
}
.shopdetail_info-tabs{
  display: flex;
}
.detail_tab-link{
  border: none;
  font-size: 16px;
  font-weight: 60;
  color: #6B4423;
  background-color: transparent;
  padding: 14px 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  flex: 1;
  text-align: center;
}
.detail_tab-link:last-child{
  border-top-right-radius: 8px;
}
.detail_tab-link:first-child{
  border-top-left-radius: 8px;
}
.detail_tab-link:hover{
  color: #FFFFFF;
  background-color: #6B4423;
}
.detail_tab-link.active{
  color: #FFFFFF;
  background-color: #6B4423;
}
.shopdetail_tab-content-wrapper {
    border-top: none;
    padding-right: 15px;
}
.shopdetail_text {
    color: #6B4423;
    padding: 5px 15px;
}
.shopdetail_tab-content.active{
  display: block;
}