<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="catalogue.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>
<body>
    <button class="catalogue-btn"><i class="fa-solid fa-tag"></i>Ưu đãi đặc biệt</button>
    <button class="catalogue-active"><i class="fa-solid fa-tag"></i>Ưu đãi đặc biệt</button>
</body>
</html>